{block contentDeploy}
    <div class="page-header">
        <h1>New deploy script</h1>
    </div>

    {control deployScriptForm}
{/block}

{block scripts}
{include parent}
{/block}


{block head}
<style>
</style>
{/block}
