{block contentDeploy}
    <div class="page-header">
        <h1>Deploy new repository <small>Subtext for header</small></h1>
    </div>

    <h2>From ULR</h2>
    <div class="panel panel-primary">
        <form  class="panel-heading" role="search">
            <h4 class="panel-title">Repository URL</h4>
        </form>
        <div class="panel-body">
            <input type="text" class="form-control" placeholder="username@domain.tld:vendor/repository.git">
        </div>
        <div class="panel-footer text-right">
            <button type="button" class="btn btn-primary">Next</button>
        </div>
    </div>

    <h2>From GitHub.com</h2>
    {control ghc}

{*<div class="row">*}


    {*<div class="col-xs- 12 col-sm-4 col-md-3">*}
        {*<div class="list-group">*}
            {*<a href="#" class="list-group-item active">Cras justo odio</a>*}
            {*<a href="#" class="list-group-item">Dapibus ac facilisis in</a>*}
            {*<a href="#" class="list-group-item">Morbi leo risus</a>*}
            {*<a href="#" class="list-group-item">Porta ac consectetur ac</a>*}
            {*<a href="#" class="list-group-item">Vestibulum at eros</a>*}
        {*</div>*}
    {*</div>*}

    {*<div class="col-xs- 12 col-sm-8 col-md-9">*}
        {*<p>Zákon sice v některých případech takové „vykoupení“ umožňuje, ale nepřekročitelnou podmínkou pro osvobození je krok k nápravě učiněný dobrovolně.*}

        {*<p>A právě v tom je háček. Více než 700 tisíc korun, které podle žalobců Nečasová na daních dluží, by totiž bývala musela zaplatit ještě předtím, než bylo zahájeno její stíhání.*}

        {*<h3>Nevyváženost přístupu</h3>*}
        {*<p>„Zákon sice institut účinné lítosti a následný zánik trestní odpovědnosti u trestného činu krácení daně připouští, ale pachatel musí škodlivý následek svého jednání napravit dobrovolně. Po zahájení stíhání už je ale pod tlakem možného trestu a o dobrovolnosti se tak nemůže v takovém případě jednat,“ řekl Právu advokát Jaroslav Ortman.*}

        {*<p class="well well-sm"><a href="#">Čtěte také: Nečasová obviněna z krácení daně za dary. Hrozí jí vězení</a>*}
        {*<p>S tím souhlasí i šéf unie obhájců a vlivný pražský právník Tomáš Sokol. Komentáře k příslušnému institutu totiž podle něj stanoví, že o dobrovolném doplacení daně se dá mluvit pouze do chvíle, kdy se pachatel reálně dozví o možném trestním postihu za své jednání.*}

        {*<p>Zákon sice podle něj připouští i benevolentnější nastavení účinné lítosti, kdy je možné daně či jiné poplatky odvést až do okamžiku vynesení případného prvoinstančního rozsudku, ale ten se na případ Nagyové nevztahuje.*}

        {*<p>„Týká se to těch, kteří například neodvedou daně nebo poplatky za někoho jiného (např. zaměstnavatel za zaměstnance – pozn. red.). V takovém případě se mohou zvednout klidně při probíhajícím soudu a vše doplatit, a stíhání tak zastavit,“ vysvětlil Sokol.*}
    {*</div>*}
{*</div>*}
{/block}

{block scripts}
{include parent}
{*<script src="http://jush.sourceforge.net/jush.js"></script>*}
<script>
</script>
{/block}


{block head}
{include parent}
<style>
</style>
{/block}
