{block content}

<div class="container{*-fluid*}">
    <div class="page-header">
        <h1>Setup <small>Subtext for header</small></h1>
    </div>
</div>
{/block}

{block scripts}
{include parent}
{*<script src="http://jush.sourceforge.net/jush.js"></script>*}
<script>
</script>
{/block}


{block head}
<style>
</style>
{/block}
